body, html {
	background-image:url("starimage.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color:#D2AFD2;
	font-family:'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'JetBrains Mono';
	background-color: #333998;
}


div#first {
	background-color:#150C40;
	font-size: 30px;
}

div#second {
	background-color:#150C40;
	font-size: 30px;
}