body, html {
	background-image:url("starimage.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color:#D2AFD2;
	font-family:'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'JetBrains Mono';
	background-color: #333998;
}


div#first {
	background-color:#150C40;
	font-size: 30px;
}

div#second {
	background-color:#150C40;
	font-size: 30px;
}

div#third {
  background-color:#150C40;
  font-size: 30px;
}

div#fourth {
  background-color:#150C40;
  font-size: 30px;
}





#navbar {
  overflow: hidden;
  background-color: #0D0729;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: 'Karla', monospace;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: #594BAE;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 60px;
}